* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --mainGreen: #d6ff7d;
  --mainBlack: #272727;
  --mainBlue: #1602ff;
  --mainRed: #FF1717;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}
body{
  /* overflow-x: hidden; */
}

@font-face {
  font-family: "Dance";
  src: url("/Dance.ttf") format("truetype");
}

body,
p,
a,
li,
h1,
h2,
h3 {
  font-family: "Dance";
  letter-spacing: 2px;
}
