---
import MainLayout from "../layout/main-layout.astro";
import Social from "../components/Social.astro";
---

<MainLayout title="About us">
  <h1>About us</h1>
  <section>
    <p>hej</p>
  </section>
  <Social />
</MainLayout>

<style></style>
