---
import MainLayout from "../layout/main-layout.astro";
import Textbar from "../components/Textbar.astro";
import Indeximg from "../components/Indeximg.astro";
import Banner from "../components/Banner.astro";
---

<MainLayout title="Frontpage">
  <div>
    <img src="public/img/kune/island/UØ_UNE22-Daniela Stoian-4364.jpg" alt="" />
  </div>
  <Indeximg />
  <Textbar />
  <Banner />
</MainLayout>

<style></style>
