---
import MainLayout from "../layout/main-layout.astro";
import Textbar from "../components/Textbar.astro";
import Indeximg from "../components/Indeximg.astro";
import Banner from "../components/Banner.astro";
import Kuneimg from "../components/Kuneimg.astro";
import Volunteerimg from "../components/Volunteerimg.astro";
---

<MainLayout title="Frontpage">
  <div>
    <Indeximg />
    <Textbar />
    <Banner />
    <Kuneimg />
    <Volunteerimg />
  </div>
</MainLayout>

<style>
  MainLayout {
    background-image: url("public/img/illustrationer/KUNE IL 1@10x-kopi.png");
  }
</style>
