---
import MainLayout from "../layout/main-layout.astro";
import Textbar from "../components/Textbar.astro";
import Indeximg from "../components/Indeximg.astro";
import Banner from "../components/Banner.astro";
import Kuneimg from "../components/Kuneimg.astro";
import Volunteerimg from "../components/Volunteerimg.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
---

<MainLayout title="Frontpage">
  <section class="section1">
    <div>
      <Indeximg />
      <Textbar />
      <Banner />
      <Kuneimg />
      <Volunteerimg />
    </div>
  </section>
  <section class="section2">
    <Nyhedsbrev />
  </section>
</MainLayout>

<style>
  .section1 {
    background-image: url("public/img/illustrationer/KUNE IL 1@10x-kopi.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section2 {
    background-image: url("public/img/illustrationer/KUNE IL 3@10x-kopi.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>
