---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout title="Frontpage">
  <h1>19 - 23 JULY UNGD0MS0EN</h1>
  <div></div>
</MainLayout>
<Textbar />

<div class="newsletter-container">
  <form action="/action_page.php">
    <label for="fname">Nyhedsbrev</label><br />
    <input type="email" id="fname" name="fname" value="" /><br />
  </form>
</div>

<style></style>
