---
import MainLayout from "../layout/main-layout.astro";
import Textbar from "../components/Textbar.astro";
import Indeximg from "../components/index/Indeximg.astro";
import Banner from "../components/index/Banner.astro";
import Kuneimg from "../components/index/Kuneimg.astro";
import Volunteerimg from "../components/index/Volunteerimg.astro";
import Newsletter from "../components/Newsletter.astro";
import Social from "../components/Social.astro";
---

<MainLayout title="Frontpage">
  <section class="section1">
    <div>
      <Indeximg />
      <Textbar />
      <Banner />
      <Kuneimg />
      <Volunteerimg />
    </div>
  </section>
  <section class="section2">
    <Newsletter />
    <Social />
  </section>

  <style>
    .section1 {
      background-image: url("public/img/illustrationer/KUNE IL 1@10x-kopi.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .section2 {
      background-image: url("public/img/illustrationer/KUNE IL 4@10x-kopi.png");
      background-repeat: no-repeat;
      background-size: 40%;
    }
  </style>
</MainLayout>
