---
import MainLayout from "../layout/main-layout.astro";
import Artist from "../components/Artist.astro";
import Textbar from "../components/Textbar.astro";
import Newsletter from "../components/Newsletter.astro";
import Social from "../components/Social.astro";
const data = await fetch("https://bcsoemsjqytfmopgkthm.supabase.co/rest/v1/kune_scener", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjc29lbXNqcXl0Zm1vcGdrdGhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkyMjcyNTksImV4cCI6MTk5NDgwMzI1OX0.hdmkNZsPnhx4RYSd23y0aoWNmEYCkC1CSca3lg4WmAw",
  },
}).then((res) => res.json());

console.log(data);
---

<MainLayout title="Line up">
<div class="main-bg">


  <div class="space-maker">
    <h1>Line Up</h1>

    <div class="artist-setup">
      {
        data.map((artistData) => {
          return <Artist day={artistData.day} name={artistData.name} image={artistData.location} />;
        })
      }
    </div>
  </div>
  <Textbar />
  
  <div class="art-container">
    <h2>Art</h2>
    <div>
      <img src="img/art/redart.png" alt="">
    </div>
   
    <div class="right">
      <img src="img/art/darkart.png" alt="">
    </div>
   
      
      
  </div>
  <div class="new-wrapper">
    <Newsletter />
  </div>
 
</div>

 

 

  <Social />
</MainLayout>

<style>

  .main-bg{
    background: url("img/illustrationer/redline2.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: left;
  }
  h1 {
    font-size: 45px;
    padding-bottom: 40px;
  }
  
  .artist-setup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 40px;
  }
  .artist-setup div {
    flex-grow: 1;
  }

  .space-maker {
    max-width: 1000px;
    margin-inline: auto;
    padding: 20px;
  }
  .art-container{
    margin: 30px 50px;
  }
  .art-container img{
    margin-top: 30px;
    width: 700px;
    border-radius: 25px;
  }
  .right{
    display: flex;
    justify-content: right;
  }
  .new-wrapper{
    margin-top: 50px;
  }

</style>
