---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout title="Tickets">
  <h1>Tickets</h1>

  <h2>Full Ticket</h2>
  <p class="fullTicket">1400,-</p>

  <section class="tickets">
    <div class="div1">
      <h2>WEDNESDAY</h2>
      <p class="oneDay">449,-</p>
    </div>

    <div class="div2">
      <h2>THURSDAY</h2>
      <p class="oneDay">449,-</p>
    </div>

    <div class="div3">
      <h2>FRIDAY</h2>
      <p class="oneDay">449,-</p>
    </div>

    <div class="div4">
      <h2>SATURDAY</h2>
      <p class="oneDay">449,-</p>
    </div>

    <div class="div5">
      <h2>SUNDAY</h2>
      <p class="oneDay">449,-</p>
    </div>
  </section>

  <p>MORE INFO</p>

  <section class="information">
    <h2>TRANSPORTATION</h2>
    <h3>BY FERRY</h3>
    <img src="/img/kune/island/UØ_KUNE22- Franscesco Turri-3405.jpg" alt="BILLEDE" />
    <p>
      You can travel to KUNE Festival in only 30 minutes with Sparshipping. The ferry takes departure from Nyhavn in the city centre and you can get to us for only 65,- if you are between 15-25 yrs. See more details on their website www.
      sparshipping.dk
    </p>
    <p>
      Traveling to KUNE Festival by boat for a 30-minute journey to an island location adds a unique and significant element to the festival experience. Reaching the festival site by boat separates us from our everyday lives and creates a sense of
      escape to a new world. The festival island becomes a self-contained microcosm where everyone is living, breathing, and experiencing the festival together. This close-knit community setting creates a petri dish for social interactions, where we
      can connect and bond in a way that is impossible in our everyday lives.
    </p>
    <h2>CAMPING</h2>
    <img src="/img/kune/island/UØ_KUNE22- Franscesco Turri-3405.jpg" alt="BILLEDE2" />
    <p>
      The island is a decommissioned defense fort built in the 19th century. A unique landmark with historical value, the fort-island was recently renovated and repurposed into a place dedicated to young people and innovative cultural initiatives. It
      can host 2500 people, 1000 of which could be accommodated in the camping area. With a full festival ticket you get acces to the camping area. When you arrive at the festival, you will be guided by our voulenteers to the camping area and get an
      assigned area you can camp in. Remember to bring your own tent and other needed supplies for camping.
    </p>
  </section>
</MainLayout>

<style>
  .fullTicket,
  .oneDay {
    background-color: #d6ff7dee;
    color: var(--mainGreen);
    -webkit-text-stroke: 1px var(--mainBlue);
  }
  h2 {
    color: var(--mainBlue);
  }
  .tickets {
    color: var(--mainBlue);
    background-image: url("/img/illustrationer/KUNE IL 1@10x-kopi.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .div1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .div2 {
    grid-column: 2/3;
    grid-row: 2/2;
  }
  .div3 {
    grid-column: 3/3;
    grid-row: 1/2;
  }

  .div4 {
    grid-row: 3/3;
    grid-column: 1/2;
  }
  .div5 {
    grid-row: 3/3;
    grid-column: 3/3;
  }
</style>
