<div>
  <h1 class="h1">ABOUT US</h1>
  <img src="/img/kune/production/about.jpg " />
</div>

<style>
  .h1 {
    position: absolute;
    left: 50%;
    top: 200px;
    color: black;
  }
  .h1_2 {
    position: absolute;
    left: %;
    top: 280px;
    color: black;
  }

  img {
    position: relative;
    right: 12%;
    height: 100%;
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 50px;
  }
</style>
