<section>
  <div>
    <h2>Ungdoms0en</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quia iure esse ipsa quisquam reiciendis, id architecto nemo. Necessitatibus officiis est ipsum voluptas cum, iste sit ad quo tempora laboriosam!</p>
  </div>
  <div><img src="public/img/index/kuneisland3.png" alt="" /></div>
</section>

<style>
  img {
    width: 450px;
    min-height: auto;
    border-radius: 50%;
  }

  section {
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
    margin: 5rem;
  }

  section p {
    line-height: 130%;
    font-family: anonymous-pro;
  }

  section h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
</style>
