---
---

<footer>
  <div class="right">
    <img src="public/img/SOME.PNG" alt="" />
  </div>
  <div class="social-container">
    <div>
      <div class="facebook"><a href="">Facebook</a></div>
      <div class="instagram"><a href="">Instagram</a></div>
      <div class="twitter"><a href="">Twitter</a></div>
    </div>
  </div>
  <div class="footer-link-container">
    <div class="first-section">
      <a href="">Non-profit and Support</a>
      <a href="">Sustainability</a>
      <a href="">Ungdoms0en</a>
    </div>
    <div class="second-section">
      <img src="/img/logosquare.png" alt="" />
      <p>Copyright© kune festival</p>
    </div>
    <div></div>
  </div>
</footer>

<style>
  footer {
    margin-top: 50px;
  }
  .right {
    display: flex;
    justify-content: flex-end;
  }
  .right img {
    width: 200px;
    position: relative;
    bottom: 20px;
    right: 130px;
  }

  .social-container a {
    display: inline-block;
    border-radius: 25px;
    padding: 10px 25px;
    background-color: var(--mainBlue);
    border: 1px solid var(--mainBlue);

    color: var(--mainGreen);
    font-size: 12px;
  }
  .social-container {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--mainBlack);
  }
  .facebook {
    transform: rotate(43deg);
    position: relative;
    left: -5px;
    top: 4px;
  }
  .instagram {
    transform: rotate(-43deg);
    position: relative;
    right: 92px;
  }
  .twitter a {
    background-color: white;
    color: var(--mainBlue);
  }

  .footer-link-container {
    margin: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-link-container div {
    width: 100%;
  }

  .first-section a {
    display: block;
    text-decoration: underline;
    padding-bottom: 20px;
  }

  .second-section {
    text-align: center;
  }
  .second-section p {
    font-size: 8px;
  }
  .second-section img {
    width: 200px;
  }
  @media only screen and (min-width: 600px) {
    .right img {
      width: 300px;
    }

    .footer-link-container div {
      width: 33.33%;
    }
  }
</style>
