---

---

<footer>
    <div>
        <div><a href="">Facebook</a></div>
        <div><a href="">Instagram</a></div>
        <div><a href="">Twitter</a></div>
    </div>
    <div>

    </div>
</footer>

<style>
    a{
        display: inline-block;
        border-radius: 25px;
        padding: 10px 25px;
        background-color:var(--mainBlue);
        margin: 5px;
        color:white;
        font-size: 12px;
    }
</style>
