<section>
  <div><img src="public/img/index/volunteerindex.jpg" alt="" /></div>
  <div>
    <h2>Volunteer</h2>
    <p>
      Volunteers are at the heart of KUNE Festival and essential to our community. They are the ones who help us realize our vision, and we are continually amazed at the skills, dedication, and enthusiasm they bring to the festival. Volunteering
      should be a two-way process, and we always aim to create a space where our volunteers can grow, learn and connect with others.
    </p>
  </div>
</section>

<style>
  img {
    width: 400px;
    min-height: auto;
    border-radius: 50px;
  }

  section {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  section p {
    line-height: 145%;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
  }

  section h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
</style>
