<section>
  <div>
    <img src="public/img/artist/artist1.png" alt="" />
    <h2 class="h2_1">Artist</h2>
  </div>
  <div>
    <img src="public/img/artist/artist1.png" alt="" />
    <h2 class="h2_2">Artist</h2>
  </div>
</section>

<style>
  img {
    margin-top: 2rem;
    width: 400px;
    height: auto%;
    border-radius: 50px;
  }

  section {
    position: relative;
    left: 10%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }

  .h2_1 {
    color: #1602ff;
    position: absolute;
    top: 80%;
    left: 40.5%;
    font-size: 2rem;
    background-color: #d6ff7da3;
    border-radius: 20px;
  }

  .h2_2 {
    position: absolute;
    top: 80%;
    left: 71%;
    color: #1602ff;
    font-size: 2rem;
    background-color: #d6ff7da3;
    border-radius: 20px;
  }
</style>
