<div>
  <img src="public/img/kune/island/UØ_KUNE22-Daniela Stoian-4364.jpg" alt="" />
  <h1 class="h1">19 - 23 JULY UNGD0MS0EN</h1>
</div>
<style>
  .h1 {
    position: absolute;
    left: 20%;
    top: 200px;
    color: #1602ff;
  }

  img {
    position: relative;
    right: 40px;
    height: auto;
    width: 900px;
    margin-bottom: 1rem;
    border-radius: 50px;
  }
</style>
