<div>
  <img src="public/img/kune/island/UØ_KUNE22-Daniela Stoian-4364.jpg" alt="" />
  <h1 class="h1">19 - 23 JULY</h1>
  <h1 class="h1_2">UNGD0MS0EN</h1>
</div>
<style>
  .h1 {
    position: absolute;
    left: 50%;
    top: 200px;
    color: black;
  }
  .h1_2 {
    position: absolute;
    left: 51%;
    top: 280px;
    color: black;
  }

  img {
    position: relative;
    right: 10%;
    height: 100%;
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 50px;
  }
</style>
