<section>
  <div>
    <h2>Ungdoms0en</h2>
    <p>
      A 5-day electronic music festival that takes place on an island 30 minutes away from Copenhagen. A one-of-its-kind celebration of the Scandinavian underground culture. A playground with five stages, two art galleries, and multiple art
      installations. An intimate, holistic experience with access to a camping ground, food area, dipping spot, and unique sunsets. A true hidden gem.
    </p>
  </div>
  <div><img src="public/img/index/kuneisland3.png" alt="" /></div>
</section>

<style>
  img {
    width: 450px;
    height: auto;
    border-radius: 50%;
  }

  section {
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
  }

  section p {
    line-height: 145%;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
  }

  section h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
</style>
